@import '~handsontable/dist/handsontable.full.css';

.tables {
	display: flex;
	align-items: center;
	justify-content: center;

	.hands-on-table {
		width: 50rem;
		//margin: auto;
		//overflow: scroll;
	}
}
