.drop-down-hc {
	$border-size: 0.05rem;
	$padding-size: 0.4rem;
	$height: 1.2rem;

	position: static;
	box-sizing: border-box;

	&__selected {
		border: $border-size solid gray;
		border-radius: 0.2rem;
		padding: $padding-size 0;
		text-align: center;
		color: #0071c5;
	}
	&__selected:hover {
		background-color: whitesmoke;
		cursor: pointer;
	}

	&__list {
		display: none;
		list-style-type: none;
		margin: 0;
		text-align: left;
		padding: 0.5rem 0;
		height: auto;
		max-height: calc(100vh - 4rem - 120px);
		overflow-y: auto;
		overflow-x: hidden;
		margin-top: 60px;
		position: fixed;
		z-index: 100;
		border: $border-size solid #999999;
		border-radius: 0.4rem;

		top: $height + ($border-size) + ($padding-size * 2);
		box-sizing: border-box;
		background-color: white;
		box-shadow: 0rem 1rem 1rem hsla(0, 0%, 0%, 0.5rem);
	}

	&__list--active {
		display: block;
	}

	&__item-label {
		display: flex;
		align-items: center;
		padding: 0 1rem;
	}

	&__item--parent {
		input[type="checkbox"] {
			margin-right: 0.5rem;
		}
		span {
			font-weight: bold;
		}
	}
	&__item--child {
		input[type="checkbox"] {
			margin-right: 1.5rem;
		}
		span {
			font-weight: normal;
		}
	}
	&__item:hover {
		background-color: whitesmoke;
		cursor: pointer;
	}
	&__item:first-child {
		//ALL item
		padding-bottom: 0.2rem;
		margin-bottom: 0.2rem;
		border-bottom: 1px solid #ccc;
	}
}

.drop-down-loading {
	$border-size: 0.05rem;
	$padding-size: 0.4rem;
	$height: 1.2rem;
	border: $border-size solid #ccc;
	color: #ccc;

	border-radius: 0.2rem;
	padding: $padding-size 0;
	text-align: center;
	margin: 0;
}

@supports (-webkit-appearance: none) {
	/*  AKA, only do this if `-webkit-appearance: none` is supported. 
        Which means IE11 and Opera Mini will get the old browser-styled checkbox. 
        Which works just fine. Old browsers can get old looking things. */
	input[type="checkbox"] {
		/*  Remove the default styling.
                `-webkit-appearance` is not an official CSS property 
                & likely never will be. But it's also in 95% of browsers, 
                non-webkit included, yes, as a `-webkit` property. 
                Firefox, Edge, Chrome, Opera all implemented `-webkit-appearance`.  
                Plus it *will* stick around. Browsers can't remove it. 
                So use it like this...                                 */
		-webkit-appearance: none;
		/* Style the box. */
		width: 1rem;
		height: 1rem;
		border: 1px solid #777;
		border-radius: 2px;
		margin: 0 0.5rem 0 0;
		outline: none;
	}
	input[type="checkbox"]:focus {
		/* Style the box when it's focused. */
		border: 1px solid teal;
	}
	input[type="checkbox"]:checked {
		/* Prepare for placing the new checkmark. */
		position: relative;
		/* Do a bug fix to keep iOS from adding dark background. */
		background: none;
	}
	input[type="checkbox"]:checked::after {
		/* Place (position) the new checkmark. */
		position: absolute;

		left: 0.1rem;
		/*  Create a checkmark in CSS. 
                Could use an SVG or `content: "✓";` instead. 
                This is a box, turned 45 degs, with a 
                left and bottom border to make the checkmark.
                Created using an empty pseudo-element.*/
		content: "";
		width: 0.8rem;
		height: 0.3rem;
		border: 2px solid black;
		border-right: none;
		border-top: none;
		transform: rotate(-45deg);
	}
}
